<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="../static/styles.css">

    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome back! Here is your dashboard.</h1>
    <div>
      <form action="/submit" method ="POST">
        <label for="Stock">Stock:</label>
        <input type="text" id="Stock" name="Stock">
        <label for="Stock">Quantity:</label>
        <input type="text" id="stockQuantity" name="stockQuantity">
        <br>
        <button>+Add</button>
      </form>
    </div>
    <a href="{{url_for('logout')}}">Press here to logout</a>
  </body>
</html>
