<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="../static/stylesDashboard.css">

    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome back! Here is your dashboard.</h1>
    <div>
      <form action="/submit" method ="POST">
        <label for="Stock">Stock:</label>
        <input type="text" id="Stock" name="Stock" required>
        <label for="stockQuantity">Quantity:</label>
        <input type="number" id="stockQuantity" name="stockQuantity" required>
        <label for="purchasePrice">Purchase Price:</label>
        <input type="number" id="purchasePrice" name="purchasePrice" required>
        <button type="submit">+Add</button>
      </form>
    </div>
    <p> These are my stocks {{stocks}} </p>

    <table class="styled-table">
      <thead>
          <tr>
              <th>Stock Name</th>
              <th>Stock Quantity</th>
              <th>Purchase Price</th>
              <th>Total Value</th>
          </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}  
          <tr>
              <td>{{ stock.name }}</td>
              <td>{{ stock.quantity }}</td>
              <td>{{ stock }}</td>
              <td>unknown</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
    <a href="{{url_for('logout')}}">Press here to logout</a>
  </body>
</html>
