<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="../static/styles.css">

    <title>Login</title>
  </head>
  <body>
    <h1>InvestMate</h1>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <label for="username">Username:</label>
      {{ form.username(id="username") }}
      <label for="password">Password:</label>
      {{ form.password(id="password") }}
      {{ form.submit }}
    </form>
    <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
  </body>
</html>
